<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Changer le mot de passe</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}?v={{ config['TEMPLATES_AUTO_RELOAD'] }}">
</head>
<body>
    <div class="container">
        <h2>Changer votre mot de passe</h2>
        
        <!-- Formulaire de changement de mot de passe -->
        <div class="form-change-password">
            <form method="POST">
                {{ form.hidden_tag() }}
            
                <div>{{ form.ancien_mot_de_passe.label }} {{ form.ancien_mot_de_passe(class="form-control") }}</div>
                <div>{{ form.nouveau_mot_de_passe.label }} {{ form.nouveau_mot_de_passe(class="form-control") }}</div>
                <div>{{ form.confirmation_mot_de_passe.label }} {{ form.confirmation_mot_de_passe(class="form-control") }}</div>
            
                <div>{{ form.submit(class="btn btn-success") }}</div>
            </form>            
        </div>

        <!-- Lien retour au tableau de bord -->
        <div class="back-link">
            <a href="{{ url_for('courses.dashboard') }}" class="btn">Retour au tableau de bord</a>
        </div>
    </div>
</body>
</html>
