<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modifier le profil</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}?v={{ config['TEMPLATES_AUTO_RELOAD'] }}">
</head>
<body>

    <div class="container">
        <h1>Modifier le profil</h1>
        
        <form method="POST">
            {{ form.hidden_tag() }}
            <div>
                {{ form.domaine_intérêt.label }}<br>
                {{ form.domaine_intérêt(class="form-control") }}
            </div>
        
            <div>
                {{ form.objectifs.label }}<br>
                {{ form.objectifs(class="form-control") }}
            </div>
            <div>
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
        <div class="back-link">
            <a href="{{ url_for('users.profil') }}" class="btn">Retour au profil</a>
        </div>
    </div>

</body>
</html>
